html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(29, 28, 28);
}

#map {
  height: 100%;
  left: 0;
  right: 0;
  position: relative;
}

/* Header */
#hamburgerMenu {
  float: left;
  margin-left: 5em;
  margin-top: -0.2em;
}

#title{
  float: right;
  margin-right: 5em;
}

header {
  background-color: rgb(29, 28, 28);
  padding: .8em 1em 2.2em 1em;
  width: 100%;
}

header h1 {
  color: #fff;
  font-size: 1.5em;
  margin: 0 0 0 .5em;
}

/* FILTER MENU */
#filterMenu {
  display: none;
  background-color: rgb(29, 28, 28);
  color: #fff;  
  text-align: center;
}
#filterMenu h2 {
  margin: 0;
  color: rgb(48, 76, 168);
}  
#dropdownListings {
  padding: 1em;
}  
#allListings {
  padding-bottom: 1em;
}  
#listingsList ul{
  margin-bottom: 0; 
}
#listingsList li{
  padding: .2em 0;
  list-style: none;
}


/* Window */
.windowPic{
  text-align: center;
  max-width: 10em;
  max-height: 10em;
}
.window {
  text-align: center;
}