html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(29, 28, 28);
}

#map {
  height: 100%;
  left: 0;
  right: 0;
  position: relative;
}

/* Header */
#hamburgerMenu {
  float: left;
  margin-left: 5em;
  margin-top: -0.2em;
}

#title{
  float: right;
  margin-right: 5em;
}

.header {
  background-color: rgb(29, 28, 28);
  padding: .8em 1em 2.2em 1em;
  width: 100%;
}

.header h1 {
  color: #fff;
  font-size: 1.5em;
  margin: 0 0 0 .5em;
}

/* FILTER MENU */
#filterMenu {
  display: none;
  background-color: rgb(29, 28, 28);
  color: #fff;
  padding-left: 1.5em;
}
#filterMenu h2,
ul{
  margin: 0;
  padding: .5em;
}  
#filterMenu li {
  padding: 1em .5em;
}