@media screen and (max-width: 450px) {
    #hamburgerMenu {
    display: none;
    }    
    .header{
        text-align: center;
        padding-bottom: 0;
    }
    .header h1 {
        font-size: 2em;
        margin: 0;
        
    }
    #title{
        float: none;
        margin-right: 0;
        padding: 0;
    }

    #filterMenu{
        position: relative;
        text-align: center; 
        display: inline;
        padding-bottom: 1em;
    }
    #dropdownListings {
        padding: 0;
      }  
      #allListings {
        padding: 0;
      } 

    #map {
        margin: 0;
        height: 100%;
        width: 100%;
    }    
    
}