@media screen and (max-width: 450px) {
    #hamburgerMenu {

    }    
    .header{
        text-align: center;
        padding-bottom: 0;
    }
    .header h1 {
        font-size: 1em;
        margin: 0; 
    }
    #filterMenu h2 {
        font-size: 1.2em;
        padding-top: .2em;
    }
    #filterMenu p {
        margin-top: 0.4em; 
    }
    #filterMenu{
        position: relative;
        text-align: center; 
        display: inline;
        padding-bottom: 1em;
    }
    #listingsList li{
        padding: .2em 0;
      }
    #dropdownListings {
        padding: 0;
      }  
      #allListings {
        padding: 0;
      } 

    #map {
        margin: 0;
        height: 100%;
        width: 100%;
    }    
    
}