@media screen and (max-width: 700px) {  
    .header{
        text-align: center;
        padding-bottom: 0;
    }
    .header h1 {
        font-size: 1em;
        margin: 0; 
    }
    #filterMenu h2 {
        font-size: 1.2em;
        padding-top: .2em;
    }
    #filterMenu p {
        margin-top: 0.4em; 
    }
    #map {
        margin: 0;
        height: 100%;
        width: 100%;
    }
}